html
  head
    link(rel="stylesheet" href="index.css")
    link(rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css")
  body
    .map
    script(type="text/javascript" src="index.js")
    script(src="http://127.0.0.1:35729/livereload.js?snipver=1" type="text/javascript")
